.main{
  background-color: #f6f6f6;
  padding: 90px 40px 40px 40px;
  display: flex;
  margin-top: 100px;

  justify-content: space-between;
  border-radius: 20px 20px 0 0 ;
  position: relative;
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.brand {
  display: flex;
  align-items: center;
  gap: 8px;
margin-bottom: 20px;
}

.brand-name {
  font-weight: bold;
}
.desc p{
  font-size: 12px;
  color: #a2a1a1;
  line-height: 20px;
  margin-bottom: 40px;
}
.desc span{
  font-weight: 500;
  color: #7e7e7e;

}
.icons{
  display: flex;
  justify-content: flex-start;

}
.icons img{
  width: 55px;

}
.copyright{
  color: #a2a1a1;
  font-size: 12px;
}


.right{
  display: flex;
  justify-content: space-evenly;
  gap: 130px;
}

.right .section{
  display: flex;
  flex-direction: column;

}

.section .head{
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 30px;
}
.section ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 12px;
  color: #a2a1a1;

}



.subscribe{
  width: 70%;
  height: 130px;
  position: absolute;
  background-color: white;
  left: 50%;
  right: 50%;
  top: -20%;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.subscribe .content{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.subscribe .content .head{
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 10px;
}

.subscribe .content .body{
  font-size: 12px;
  color: #a2a1a1;

}
.subscribe .button-sub button{
  width: 220px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F53838;
  color: white;
  font-weight: bold;
  box-shadow: 0 10px 40px rgba(245, 56, 56, 0.45);


}

















