.main{
  background-color: #f6f6f6;
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0 0 ;
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.brand {
  display: flex;
  align-items: center;
  gap: 8px;
margin-bottom: 20px;
}

.brand-name {
  font-weight: bold;
}
.desc p{
  font-size: 12px;
  color: #a2a1a1;
  line-height: 20px;
  margin-bottom: 40px;
}
.desc span{
  font-weight: 500;
  color: #7e7e7e;

}
.icons{
  display: flex;
  justify-content: flex-start;

}
.icons img{
  width: 55px;

}
.copyright{
  color: #a2a1a1;
  font-size: 12px;
}


.right{
  display: flex;
  justify-content: space-evenly;
  gap: 130px;
}

.right .section{
  display: flex;
  flex-direction: column;

}

.section .head{
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 30px;
}
.section ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 12px;
  color: #a2a1a1;

}























