<div class="main">

  <div>
    <img src="assets/feture-illustration.svg" alt="">
  </div>

  <div class="content">

    <h3 class="heading">We Provide Many Feature You Can Use </h3>
    <p class="detail">You can explore the features that we provide with fun and have their own functions each feature.</p>

    <div class="features">

      <div class="feature-div">
        <img src="assets/check-circle.svg" alt="">
        <p>Powerfull online protection.</p>
      </div>

      <div class="feature-div">
        <img src="assets/check-circle.svg" alt="">
        <p>Internet without borders.</p>
      </div>

      <div class="feature-div">
        <img src="assets/check-circle.svg" alt="">
        <p>Supercharged VPN.</p>
      </div>

      <div class="feature-div">
        <img src="assets/check-circle.svg" alt="">
        <p>No specific time limits.</p>
      </div>

    </div>

  </div>

</div>
