<div class="main">
  <div class="top">
      <h3 class="header">
        Trusted by Thousands
        <br>
        of Happy Customer
      </h3>
      <p class="content">
        These are the stories of our customers who have joined us with
        <br>
        great pleasure when using this crazy feature.
      </p>
  </div>

  <div class="cards">

    <div class="card">

      <div class="user-header">
       <div class="user-right">
         <img src="assets/profile-Viezh.svg" class="user-profile" alt="">
         <div>
           <p class="user-name">Viezh Robert</p>
           <p class="user-location">Warsaw, Poland</p>
         </div>
       </div>

        <div class="rating">
          <p class="user-rate">4.5</p>
          <img src="assets/star.svg" class="star" alt="">
        </div>

      </div>

      <div class="user-comment">
       <p>
         “Wow... I am very happy to use this VPN,
         it turned out to be more than my expectations and so far
         there have been no problems. LaslesVPN always the best”.
       </p>
      </div>

    </div>

    <div class="card">

      <div class="user-header">
        <div class="user-right">
          <img src="assets/profile-Yessica.svg" class="user-profile" alt="">
          <div>
            <p class="user-name">Yessica Christy</p>
            <p class="user-location">Shanxi, China</p>
          </div>
        </div>

        <div class="rating">
          <p class="user-rate">4.5</p>
          <img src="assets/star.svg" class="star" alt="">
        </div>

      </div>

      <div class="user-comment">
        <p>
          “I like it because I like
          to travel far and still can connect with high speed.”.
        </p>
      </div>

    </div>

    <div class="card">

      <div class="user-header">
        <div class="user-right">
          <img src="assets/profile-Kim.svg" class="user-profile" alt="">
          <div>
            <p class="user-name">Kim Young Jou </p>
            <p class="user-location">Seoul, South Korea</p>
          </div>
        </div>

        <div class="rating">
          <p class="user-rate">4.5</p>
          <img src="assets/star.svg" class="star" alt="">
        </div>

      </div>

      <div class="user-comment">
        <p>
          “This is very unusual for my business that currently requires
          a virtual private network that has high security.”.
        </p>
      </div>

    </div>


  </div>
  <div class="navigator">

    <div class="navigator-left">
      <div class="div-elipse">

      </div>

      <div class="div-circle">

      </div>
      <div class="div-circle">

      </div>

      <div class="div-circle">

      </div>



    </div>

    <div class="navigator-right">
        <button class="btn-1" > <img src="assets/arrow-left.svg" alt=""> </button>
        <button class="btn-2"><img src="assets/arrow-right.svg" alt=""> </button>
    </div>


  </div>
</div>
