<div class="main">
  <div class="top">
    <h3 class="header">
      Huge Global Network <br>of Fast VPN
    </h3>
    <p class="content">
      See LaslesVPN everywhere to make it easier for you when you move <br>locations.
    </p>
  </div>
  <div class="map">
    <img src="assets/Huge%20Global.svg" alt="">
  </div>
  <div class="brands">
    <img src="assets/discord.svg" alt="">
    <img src="assets/spotify.svg" alt="">
    <img src="assets/reddit.svg" alt="">
    <img src="assets/amazon.svg" id="amazon" alt="">

  </div>
</div>
