<div class="main">
  <div class="section-1">
    <div class="image-div">
      <div class=" image-circle">
        <img alt="" src="assets/user.svg">
      </div>
    </div>
    <div class="data">
      <p class="numbers">90+</p>
      <p class="description">users</p>
    </div>
  </div>
  <div class="section-2">
    <div class="image-div">

      <div class="image-circle">
        <img alt="" src="assets/location-marker.svg">
      </div>
    </div>

    <div class="data">
      <p class="numbers">30+</p>
      <p class="description">locations</p>
    </div>
  </div>
  <div class="section-3">
    <div class="image-div">
      <div class="image-circle">
        <img alt="" src="assets/server.svg">
      </div>
    </div>

    <div class="data">
      <p class="numbers">50+</p>
      <p class="description">servers</p>
    </div>

  </div>
</div>

