<div class="main">
  <div class="header">

    <h3 class="header-title">
      Choose Your Plan
    </h3>
    <p class="header-description">Let's choose the package that is best for you and explore it happily and cheerfully.</p>

  </div>

  <div class="content">
<!--   &#45;&#45;&#45;&#45;&#45;&#45;-->

    <div class="content-main">

      <div class="top">

        <div class="logo">
          <img src="assets/card-illustration.svg" alt="">
          <p>Free plan</p>
        </div>

        <div class="details">
          <div>
            <img src="assets/check.svg" alt="">
            <p>Unlimited Bandwitch</p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>Encrypted Connection</p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>No Traffic Logs </p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>Works on All Devices </p>
          </div>
        </div>

      </div>

      <div class="bottom">
        <p class="price">
          <span >FREE</span>
        </p>
        <button>
          select
        </button>
      </div>
    </div>
    <!--   &#45;&#45;&#45;&#45;&#45;&#45;-->

    <div class="content-main">

      <div class="top">

        <div class="logo">
          <img src="assets/card-illustration.svg" alt="">
          <p>Standard plan</p>
        </div>

        <div class="details">
          <div>
            <img src="assets/check.svg" alt="">
            <p>Unlimited Bandwitch</p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>Encrypted Connection</p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>No Traffic Logs </p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>Works on All Devices </p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>Connect Anyware  </p>
          </div>
        </div>

      </div>

      <div class="bottom">
        <p class="price">
          <span >$9</span>/mo
        </p>
        <button>
          select
        </button>
      </div>
    </div>
    <!--   &#45;&#45;&#45;&#45;&#45;&#45;-->
    <div class="content-main selected-plan">

      <div class="top">

        <div class="logo">
          <img src="assets/card-illustration.svg" alt="">
          <p>Premium plan</p>
        </div>

        <div class="details">
          <div>
            <img src="assets/check.svg" alt="">
            <p>Unlimited Bandwitch</p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>Encrypted Connection</p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>No Traffic Logs </p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>Works on All Devices </p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>Connect Anyware  </p>
          </div>
          <div>
            <img src="assets/check.svg" alt="">
            <p>Get New Features   </p>
          </div>
        </div>

      </div>

      <div class="bottom">
        <p class="price">
          <span >$12</span>/mo
        </p>
        <button>
          select
        </button>
      </div>
    </div>

  </div>

</div>
